* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.post {
    width: 1000px;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 5px;
    border: 3px solid rgb(56, 7, 255);
    margin-top: 15px;
    justify-content: space-between;
    border-radius: 15px;
}
